.navbar{
    background-color: #21081a;
    height: 100px;
    
}
.nav-link{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}
.nav-link:hover{
    color: #d15fb1;
    transition: all 0.3s ease-in-out;
}
.navbar-brand{
    font-size: 30px;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    
}
.navbar-brand:hover{
    color: #d15fb1;
    transition: all 0.3s ease-in-out;
}
.custom-btn{
    background-color: #823d6e;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
    padding: 10px;
    margin: 10px;
    
}
.custom-btn:hover{
    background-color: #d15fb1;
    color: #f5f5f5;
    transition: all 0.3s ease-in-out;
}