.about_img{
    width: 28vw;
    height: 56vh;
    border:1px solid #080000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 5px #888888;
   
      
    
}
.titlepage{
    width: 28vw;
    margin: 10px;
    border: 1px solid #080000;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 10px 10px 5px #888888;
}
.about_right{
    padding: 10px;
    margin: 10px;
    border: 1px solid #080000;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}
.about_right{
    height:80vh;
    width: 50vw;
    padding: 10px;
    margin: 10px;
    border: 1px solid #080000;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}