.about_img{
    width: 520px;
    height: 500px;
    border:1px solid #080000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 5px #888888;
   
      
    
}
.titlepage{
    width: 520px;
    margin: 10px;
    border: 1px solid #080000;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 10px 10px 5px #888888;
}
.about_right{
    padding: 10px;
    margin: 10px;
    border: 1px solid #080000;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}
.about_right{
    height:720px;
    width: 520px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #080000;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}